.mainButton {
    height: 3rem;
    width: 6rem;
    background-color: rgb(104,147,47);
    cursor: pointer;
    transition: 0.2s linear; 
    border-radius: 10px;
}

.mainButton:hover{
    background-color: rgba(139, 199, 62, 0.9);
    border-radius: 15px;
}
