* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: rgb(27,40,56);
    color: white;
    display: flex;
    justify-content: center;
}

.App{
    width: 90rem;
}

.comand, .auto, .champ {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

/* .auto {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
} */

.btn {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 1rem;
}
